#div60{
    width: 380px;
    height: 650px;
    background-color: white;
    margin: 70px 0 0 0;
    box-shadow: 0px 2px 8px 0px #DB7575;
    }

#card{

    text-align: center;
    font-size: 33px;
    padding: 25px 0 0 0;

}


#ph51{
    height: 135px;
    width: 110px;
    margin: 40px 0 0 20px;
}

#duct{
    
    font-size: 20px;
    margin: -137px 0 0 145px;
}

#div61{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 20px;
    margin: -22px 0 0 344px;
    box-shadow: 0px 8px 9px -6px rgb(0, 0, 0);
    
}

#ph52{
    height: 10px;
    width: 10px;
    margin: -8px 0 0 5px;
}

#tablee{
    font-size: 30px;
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    width: 43px;
    height: 50px;
    margin: 20px 0 0 0;
}

#table{
    width: 43px;
    font-size: 25px;
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    margin: 20px 0 0 146px;
    height: 50px;
}

#ta{
    width: 43px;
    font-size: 25px;
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    margin: 20px 0 0 0;
    height: 50px;
}


#to{
    font-size: 30px;
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    width: 43px;
    height: 50px;
    margin: 20px 0 0 0;
}

#ti{
    width: 43px;
    font-size: 25px;
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    margin: 20px 0 0 146px;
    height: 50px;
}

#te{
    width: 43px;
    font-size: 25px;
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0);
    margin: 20px 0 0 0;
    height: 50px;
}


#l0{
    font-size: 20px;
    margin: 11px 0 0 145px;
}

#l2{
    font-family: kadwa;
    font-size: 25px;
    color: #E19FAE;
    margin: -43px 0 0 281px;
}

#Subtotal{

    font-size: 20px;
    margin: 70px 0 0 16px;
}

#l8{

    font-size: 17px;
    font-family: kadwa;
    color: #E19FAE;
    margin: -18px 0 0 104px;
    

}



#vd{

    color: white;
    background-color: #FFC7C7;
    height: 38px;
    width: 120px;
    border: none;
    box-shadow: 0px 4px 10px -8px rgb(0, 0, 0);
    BORDER-RADIUS: 59px;
    margin: 60px 0 0 128px;
}


