input[type="radio"] {
    width: 15px; height: 15px;
    accent-color: #DB8383;
    color: #DB8383;
    /*background-color: #DB8383;*/
    /*opacity: 0.3;*/
    border: 1px solid #DB8383;
}
input[type="radio"]:checked {
    opacity: 0.5;
}

/*nav*/

#div1{
    /**/
    width: 1519px;
    height: 65px;
    background-color: #FFE3E3;
    display: flex;
    box-shadow: 0px 3px 10px -7px rgb(0, 0, 0);

}

#ph1{

    height: 62px;
    width: 130px;
    margin: 3px 0 0 0;

}

#home{

    color: white;
    font-size: 20px;
    font-family: Kadwa;
    margin: 18px 0 0 360px;
}

#cate{

    color: white;
    border: none;
    font-size: 20px;
    background: none;
    font-family: Kadwa;
    margin: 9px 0 0 85px;
}

#own{

    color: #DB7575;
    font-size: 20px;
    font-family: Kadwa;
    margin: 18px 0 0 85px;
}

#shop{

    color: white;
    font-size: 20px;
    font-family: Kadwa;
    margin: 18px 0 0 85px;
}

#cont{

    color: white;
    font-size: 20px;
    font-family: Kadwa;
    margin: 18px 0 0 85px;
}

#ph100{

    width: 33px;
    height: 30px;
    margin: 17px 0 0 120px;


}

#ph46{

    width: 35px;
    height:35px;
    margin: 14px 0 0 47px;
}

#ph47{

    width: 14px;
    height: 14px;
    margin: 37px 0 0 -9px;

}

#car{
    font-family: sans-serif;
}
#car:hover{
    background-color: #FFE3E3;
}











































/* body 1*/

#div2{
    background: none;
    width: 400px;
    height: 500px;
    border: none;
    box-shadow: 0 0 10px 5px #FFE3E3;
    border-radius: 20px;
    margin: 90px 0 0 100px;
}

#ph2{

    height: 360px;
    margin: 65px 0 0 111px;

}

#div3{
    display: flex;
    margin: 70px 0 0 110px;
}

#sub{

    font-size: 22px;
    color: black;
    margin: 0 30px 0 0;
}

#l3{

    font-size: 22px;
    font-family: kadwa;
    color: #E19FAE;
}


#vd{

    color: white;
    background-color: #DB8383;
    height: 35px;
    width: 78px;
    border: none;
    box-shadow: 0px 4px 10px -8px rgb(0, 0, 0);
    BORDER-RADIUS: 59px;
    margin: 30px 0 0 200px;
}


#ph3{

    height: 25px;
    margin: 70px 0 0 95px;
}








#div5{

    height: 60px;
    width: 400px;
    border: 1px solid #DB8383 ;
    border-radius: 5px;
    margin: 88px 0 0 -190px;
}


#ph4{

    height: 40px;
    margin: 5px 0 0 16px ;
}


#down{

    font-size: 30px;
    margin: -35px 0 0 66px;
    font-family: kadwa;
}


#div4{

    height: 50px;
    width: 780px;
    border: 1px solid #DB8383;
    border-radius: 5px;
    margin: 25px 0 0 -190px;

}


#sha{

    color: #E19FAE;
    font-size: 22px;
    margin: 11px 0 0 16px;
}


#div6{

    height: 305px;
    width: 800px;
    border: 1px solid #DB8383;
    border-radius: 5px;
    margin: 0 0 0 -190px;

}

#div7{

    display: flex;
    margin: 15px 0 0 175px;
}


#ph5{

    margin: 0 0 0 110px;
}

#div8{

    display: flex;
    margin: 0 0 0 0;
}

#shap{

    font-size: 20px;
    margin: 70px 0 0 25px;
}

#ph6{

    height: 170px;
    margin: 8px 0 0 71px;
}

#ph7{

    height: 170px;
    margin: 8px 0 0 60px;
}

#ph8{

    height: 170px;
    margin: 8px 0 0 62px;
}

#ph9{

    height: 170px;
    margin: 8px 0 0 63px;
}

#ph10{

    height: 170px;
    margin: 8px 0 0 63px;
}

#div9{

    display: flex;
    margin: 10px 0 0 23px;
}


#ph11{

    margin: 0 0 0 0 ;
    height: 16px;
}

#size{

    color: black;
    margin: -2px 0 0 5px;
    font-size: 13px;
}

#l1{

    margin: -2px 0 0 21px;
    font-size: 16px;
    color: #E19FAE;
    font-family: kadwa;
}

#l2{

    color: black;
    font-size: 16px;
    margin: -2px 0 0 86px;
    font-family: kadwa;
}

#l6{

    color: black;
    font-size: 16px;
    margin: -2px 0 0 92px;
    font-family: kadwa;
}

#l4{

    color: black;
    font-size: 16px;
    margin: -2px 0 0 86px;
    font-family: kadwa;
}

#l5{

    color: black;
    font-size: 16px;
    margin: -2px 0 0 89px;
    font-family: kadwa;
}


#l7{

    margin: -2px 0 0 41px;
    font-size: 16px;
    color: #E19FAE;
    font-family: kadwa;
}

#l8{

    color: black;
    font-size: 16px;
    margin: -2px 0 0 86px;
    font-family: kadwa;
}

#l9{

    color: black;
    font-size: 16px;
    margin: -2px 0 0 92px;
    font-family: kadwa;
}

#l10{

    color: black;
    font-size: 16px;
    margin: -2px 0 0 86px;
    font-family: kadwa;
}

#l11{

    color: black;
    font-size: 16px;
    margin: -2px 0 0 89px;
    font-family: kadwa;
}



#div10{

    height: 50px;
    width: 440px;
    border: 1px solid #DB8383;
    border-radius: 5px;
    margin: 19px 0 0 -190px;

}


#mat{

    color: #E19FAE;
    font-size: 22px;
    margin: 11px 0 0 16px;

}


#div11{

    height: 240px;
    width: 440px;
    border: 1px solid #DB8383;
    border-radius: 5px;
    margin: 0 0 0 -190px;

}


#ph13{

    height: 17px;
    margin: 35px 0 0 15px;
}


#cot{

    font-size: 22px;
    margin: -179px 0 0 40px;
    color: #E19FAE;
}


#sio{

    font-size: 22px;
    margin: 26px 0 0 40px;
}


#lin{

    font-size: 22px;
    margin: 25px 0 0 40px;
}


#lac{

    font-size: 22px;
    margin: 25px 0 0 40px;
}

#r{

    color: #E19FAE;
    font-size: 15px;
    margin: -203px 0 0 260px;
}

#r2{

    font-size: 20px;
    margin: 1px 0 0 267px;
}

#r3{

    font-size: 20px;
    margin: 23px 0 0 267px;

}

#r4{

    font-size: 20px;
    margin: 21px 0 0 267px;
}

#r5{

    font-size: 20px;
    margin: 20px 0 0 267px;
}


#si{

    color: #E19FAE;
    font-size: 15px;
    margin: -206px 0 0 260px;
}

#r6{

    font-size: 20px;
    margin: 1px 0 0 267px;
}

#r7{

    font-size: 20px;
    margin: 23px 0 0 267px;

}

#r8{

    font-size: 20px;
    margin: 21px 0 0 267px;
}

#r9{

    font-size: 20px;
    margin: 20px 0 0 267px;
}


#div12{

    margin: 0 0 0 85px ;
}


#div13{

    height: 50px;
    width: 331px;
    border: 1px solid #DB8383;
    border-radius: 5px;
    margin: -290px 0 0 260px;

}


#color{

    color: #E19FAE;
    font-size: 22px;
    margin: 11px 0 0 16px;

}


#div14{

    height: 240px;
    width: 332px;
    border: 1px solid #DB8383;
    border-radius: 5px;
    margin: 0 0 0 260px;

}


#lon1{

    margin: 15px 0 0 11px;
}

#div15{

    height: 40px;
    width: 295px;
    border: 1px solid #DB8383;
    border-radius: 5px;
    margin: -54px 0 0 280px;

}

#ph12{

    height: 27px;
    margin: 3px 0 0 20px;

}

#print{

    font-size: 25px;
    margin: -27px 0 0 70px;
    font-family: kadwa;

}











































/* footer */


#div25{
    background-color: #F9F7F6;
    width: 1519px;
    height: 370px;
    margin: 40px 0 0 0;
}

#ph25{
    height: 120px;
    width: 216px;
    margin: 30px 0 0 10px;
}


#div26{
    font-size: 25px;
    margin: -45px 0 0 450px;
    font-family: lnica;
    color: black;
}

#z1{

    color: black;
}

#div27{
    font-size: 25px;
    margin: -151px 0 0 700px;
    font-family: lnica;
    color: black;
}


#z2{

    color: black;
}

#social{
    font-size: 25px;
    font-family: lnica;
    margin: -112px 0 0 1110px;
}


#div28{
    display: flex;
    margin: 25px 0 0 1071px ;
}

#ph26{
    height: 30px ;
    width: 30px ;
    margin: 0 0 0 15px;
}
