/* footer */


#div25{
    background-color: #F9F7F6;
    width: 1519px;
    height: 370px;
    margin: 40px 0 0 0;
}

#ph25{
    height: 120px;
    width: 216px;
    margin: 30px 0 0 10px;
}


#div26{
    font-size: 25px;
    margin: -45px 0 0 450px;
    font-family: lnica;
    color: black;
}

#z1{

    color: black;
}

#div27{
    font-size: 25px;
    margin: -151px 0 0 700px;
    font-family: lnica;
    color: black;
}


#z2{

    color: black;
}

#social{
    font-size: 25px;
    font-family: lnica;
    margin: -112px 0 0 1110px;
}


#div28{
    display: flex;
    margin: 25px 0 0 1071px ;
}

#ph26{
    height: 30px ;
    width: 30px ;
    margin: 0 0 0 15px;
}

